.bs-section--image-content-testimonial-right {
  padding: 45px 0;
  //Round BG
  .bs-column--column-blue-lines-bg-left {
    @include bs-column---blue-lines-bg-left;
  }
  .bs-column--column-blue-lines-bg {
    @include bs-column---blue-lines-bg;
  }
  //Right Image
  .row {
    > div:not(.bs-column--content) {
      .media-elements {
        .bs-common-image {
          figure {
            width: 100%;
            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }
  //Left Content
  .bs-column--content {
    padding-top: 25px;
    h3 {
      margin-bottom: 20px;
    }
    @include blockquote;
  }
}
@include media-breakpoint-up(md) {
  .bs-section--image-content-testimonial-right {
    //Round BG
    .bs-column--column-blue-lines-bg-left {
      background-position-x: 25px;
      .media-elements {
        .bs-common-image {
          figure {
            padding: 25px 0 0 50px;
          }
        }
      }
    }
    .bs-column--column-blue-lines-bg {
      background-position-x: 100%;
      .media-elements {
        .bs-common-image {
          figure {
            padding: 25px 25px 0;
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  .bs-section--image-content-testimonial-right {
    padding: 100px 0;
    //Round BG
    .bs-column--column-blue-lines-bg-left {
      background-position-x: 85px;
      .media-elements {
        .bs-common-image {
          figure {
            padding: 51px 0 0 120px;
          }
        }
      }
    }
    .bs-column--column-blue-lines-bg {
      background-position-x: calc(100% - 15px);
      .media-elements {
        .bs-common-image {
          figure {
            padding: 51px 60px 0;
          }
        }
      }
    }
    //Left Content
    .bs-column--content {
      padding-top: 70px;
      h3 {
        margin-bottom: 30px;
      }
    }
  }
}
@include media-breakpoint-only(sm) {
  .bs-section--image-content-testimonial-right {
    //Left Content
    .bs-column--content {
      padding-top: 0;
    }
  }
}
@include media-breakpoint-down(xs) {
  .bs-section--image-content-testimonial-right {
    .row {
      flex-direction: column-reverse;
    }
  }
}
//CMS Styles
div[data-type="e25m/section"] {
  .bs-section--image-content-testimonial-right {
    div.media-elements {
      height: auto;
      .bs-common-image {
        figure.figure {
          height: auto;
          padding: 0;
        }
      }
    }
  }
}