section.bs-section--solutions-banner-type-one{
  h1,
  h5,
  p{
    color: var(--black-pearl);
  }
  h1{
    padding-bottom: 15px;
  }
  .bs-column--column-left{
    padding-top: 4px;
  }
}
@include media-breakpoint-up(lg){
  section.bs-section--solutions-banner-type-one{
    .bs-column--column-left{
      padding-right: 8%;
    }
  }
}