.bs-section--list-styles{
  ul{
    padding-left: 17px;
    margin-bottom: 16px;
    li{
      position: relative;
      padding-left: 0;
      margin-bottom: 7px;
      line-height: normal;
      text-align: left;
      color: var(--catalina-blue);
      &::after{
        content: "";
        position: absolute;
        left: -16px;
        top: 4px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: var(--pure-black);
      }
    }
  }
}
// BE styles
div[data-type="e25m/section"] {
  .bs-section--list-styles{
    ul{
      li{
        padding-left: 16px;
        &::after{
          left: 0;
        }
      }
    }
  }
}