@mixin fluid-container-left-row {
  @include media-breakpoint-up(sm) {
    padding-right: calc((100vw - 540px) / 2);
    padding-left: calc((100vw - 540px) / 2);
  }
  @include media-breakpoint-up(md) {
    padding-right: 0;
    padding-left: calc((100vw - 720px) / 2);
  }
  @include media-breakpoint-up(lg) {
    padding-left: calc((100vw - 960px) / 2);
  }
  @include media-breakpoint-up(xl) {
    padding-left: calc((100vw - 1200px) / 2);
  }
}
@mixin fluid-container-right-row {
  @include media-breakpoint-up(sm) {
    padding-right: calc((100vw - 540px) / 2);
    padding-left: calc((100vw - 540px) / 2);
  }
  @include media-breakpoint-up(md) {
    padding-right: calc((100vw - 720px) / 2);
  }
  @include media-breakpoint-up(lg) {
    padding-right: calc((100vw - 960px) / 2);
  }
  @include media-breakpoint-up(xl) {
    padding-right: calc((100vw - 1200px) / 2);
  }
}
